<br>
<br>
<div id="overflowTest" class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="card w-75 mb-3">

        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Level 10 human Barbarian</p>
            <a href="#" class="btn btn-primary">view</a>
        </div>
    </div><br>
    <div class="card w-75 mb-3">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
        </div>
    </div>
    <div class="card w-75 mb-3">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Button</a>
        </div>
    </div>
</div>

<section class="icons ">
    <div class="nameandlevel">
        <h1>Hero McHero</h1>
        <h2>level 10 Human Barbarian</h2>
    </div>
    <div class="flex">

        <div class="score">

            <p>10</p>
            <h1>20</h1>
            <p>strength</p>
        </div><br>

        <div class="score">

            <p>10</p>
            <h1>20</h1>
            <p>strength</p>
        </div><br>
        <div class="score">

            <p>10</p>
            <h1>20</h1>
            <p>strength</p>
        </div><br>
        <div class="score">

            <p>10</p>
            <h1>20</h1>
            <p>strength</p>
        </div><br>
        <div class="score">

            <p>10</p>
            <h1>20</h1>
            <p>strength</p>
        </div><br>
        <div class="score">

            <p>10</p>
            <h1>20</h1>
            <p>strength</p>
        </div><br>
    </div>
    <div class="skills">
        <div class="item1">
            <h1>skills</h1>
            <ul>
                <li>Acrobatics 00</li>
                <li>Animal Handling 00</li>
                <li>Arcana 00</li>
                <li>Athletics 00</li>
                <li>Deception 00</li>
                <li>History 00</li>
                <li>Insight 00</li>
                <li>Intimidation 00</li>
                <li>Investigation 00</li>
                <li>Medecine 00</li>
                <li>Nature 00</li>
                <li>Perception 00</li>
                <li>Performance 00</li>
                <li>Persuasion 00</li>
                <li>Religion 00</li>
                <li>Slight of hand 00</li>
                <li>Stealth 00</li>
                <li>Survival 00</li>
        </div>
        <div class="hitpoints grid">
            <div class="hit">
                <p>Hit Points</p>
                <i class="fa fa-shield"></i>
            </div>
            <p>Armor Class</p>
            <h2>Initiative:00</h2>
        </div>
        </ul>


    </div>


</section>

<script src="../js/character.js"></script>